<!DOCTYPE html>
<html>
<head>
  <title>Blackstack - Annotator</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Language" content="en">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
  <style>
  img {
    max-height: 800px;
    width: 100%;
  }
  .option {
    display: block;
  }
  .button-container {
    padding-top: 25px;
  }
  .center {
    text-align: center;
    color: #aaa;
  }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="four columns">
        <div class="button-container">
          <button class="option" onclick="submit(1, {{area_id}})">header / footer</button>
          <button class="option" onclick="submit(2, {{area_id}})">body</button>
          <button class="option" onclick="submit(3, {{area_id}})">graphic</button>
          <button class="option" onclick="submit(4, {{area_id}})">graphic caption</button>
          <button class="option" onclick="submit(5, {{area_id}})">reference</button>
          <button class="option" onclick="submit(6, {{area_id}})">other</button>
        </div>

        <table class="u-full-width">
          <thead>
            <tr>
              <th>Category</th>
              <th>p</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Body</td>
              <td>{{ body }}</td>
            </tr>
            <tr>
              <td>Graphic</td>
              <td>{{ graphic }}</td>
            </tr>
            <tr>
              <td>Graphic caption</td>
              <td>{{ graphic_caption }}</td>
            </tr>
            <tr>
              <td>Header / Footer</td>
              <td>{{ header_footer }}</td>
            </tr>
            <tr>
              <td>Reference</td>
              <td>{{ reference }}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="eight columns">
        <img src="tmp/{{ img }}.png"/>
      </div>
    </div>
    <div class="row center">
        <h5>{{ doc_id }} | Page {{ page_no }} | Area {{ area_id }}</h5>
    </div>
  </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
<script>

function submit(label_id, area_id) {
    console.log(label_id, area_id)
    $.post('/label', { 'label_id': label_id, 'area_id': area_id }, function(error) {
      window.location.reload()
    })
}

</script>
</html>
